body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.app {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}
.column-wrapper {
  display: flex;
  flex-basis: 100%;
}
.error-in-search {
  color: red;
  font-style: italic;
}
.header {
  flex-basis: 100%;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.left-column {
  border-right: 1px solid black;
  flex-basis: 40%; 
  min-width: 40%; 
  box-sizing: border-box;
}
.right-column {
  flex-basis: 60%;
}
.result-button {
  background:none;
  border:none;
  font-size:1em;
  color: black;
}

.result-button span {
  text-decoration: underline;
  cursor: pointer;
}
.search-results {
  margin: 10px;
}

.single-alternative {
  background: #e2ffe9;
  margin: 10px;
  padding: 3px;
}

.single-alternative span {
  text-align: center;
}

.single-search-result {
  background: #9ebced;
  margin: 10px;
  padding: 3px;
}
